label {
	display: block;
}

.signup-button {
	border-radius: 8px;
	border: none;
	padding: 10px 24px;
	font-size: 18px;
	font-weight: 500;
	background-color: #464F2E;
	color: white;
}

.signup-button:hover {
	cursor: pointer;
	background-color: #212516;
}

.modal-button {
	height: 48px;
	width: 528px;
	padding: 16px;
	border-radius: 10px;
	align-items: center;
	background-color: #C74F2D;
	border: none;
	font-size: 18px;
	display: block;
	color: white;
}

.button-div {
	padding-top: 6px;
	padding-bottom: 12px;
}

.modal-button:hover {
	cursor: pointer;
	background-color: #7c3522;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Calibre Web';
	padding: 24px 12px;
}

.signup-header {
	font-size: 48px;
	font-weight: 700;
	align-self: flex-start;
	text-align: left;
	padding-bottom: 30px;
}

.signup-sub {
	align-self: flex-start;
	text-align: left;
	padding-bottom: 24px;
	font-size: 18px;
}

.signup-terms {
	align-self: flex-start;
	text-align: left;
	padding-bottom: 20px;
	font-size: 16px;
}

.footer-link {
	align-self: flex-start;
	text-align: left;
}