.guest-adder {
	position: absolute;
	top: 120%;
	left: 0%;
	padding: 12px 12px;
	border: 0.5px solid lightgray;
	border-radius: 16px;
	background-color: white;
	box-shadow: 0 0 0 0.5px lightgray;
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 300;
}



.add-adult, .add-children {
	height: 8vh;
}

.add-adult, .add-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-sub-buttons {
	display: flex;
	justify-content: space-between;
	height: inherit;
	width: 6vw;
	align-items: center;
}

.add-button, .sub-button {
	border-radius: 50%;
	font-size: 18px;
	background-color: white;
	height: 30px;
	width: 30px;
	border: 0.25px solid black;
}

.add-button:hover, .sub-button:hover {
	cursor: pointer;
}

.horizontal-line {
	border: 1px solid lightgray;
	width: 99%;
}
