
/* index */
.spots-index-page {
	display: flex;
	padding-top: 10vh;
	background-color: #F3F2EF;
}

.spots-index {
	width: 50vw;
	background-color: aqua;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 1vw;
}

.spots-index-map {
	width: 48vw;
	height: 90vh;
	background-color: aquamarine;
	border: 1px solid black;
	position: fixed;
	right: 0;
}


/* item */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
	
}

.item-photo {
	border: 1px solid lightgray;
	border-radius: 16px;
	width: 20vw;
	height: 14vw;
	/* margin-top: 4px; */
	margin-bottom: 4px;
	background-color: white;
}

.spots-index-item {
	border: 1px solid black;
	width: 20vw;
	height: 20vw;
	padding: 10px 24px;
	background-color: lightgray;
}

.text-container *{
	margin-bottom: 4px;
}
.spot-rating {
	display: flex;
	flex-direction: row;
}
.rating {
	font-size: 18px;
}
.spot-name {
	font-size: 20px;
	color: black;
	text-decoration: none;

}

.spot-text {
	font-size: 18px;
	color: lightslategray;
}

.price {
	font-size: 22px;
	color: black;
}

/* show */
.show-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10vh;
	background-color: white;

	> * {
		margin-bottom: 1vh;
	}
}

/* show header */
.header-info {
	/* border: 1px solid black; */
	margin-top: 4vh;
	height: 10vh;
	width: 76vw;
	display: flex;
	flex-direction: column;
}

.show-header {
	text-align: left;
	font-size: 48px;
	font-weight: 700;
}

.show-header-text {
	display: flex;
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 4px;

	> p {
		padding-left: 4px;
		padding-right: 4px;
	}
}

.percentage, .num-reviews, .city-state {
	font-size: 20px;
}

.percentage, .num-reviews {
	font-weight: 500;
}

.num-reviews {
	text-decoration: underline;
}

/* show photos */
.show-description, .show-activities, .show-amenities,
.show-map, .show-reviews {
	border: 1px solid black;
	/* padding: 10px 10px; */
}

.show-photos {
	height: 58vh;
	width: 76vw;
	display: flex;
	margin-top: 2vh;
}

.big-photo {
	border: 1px solid black;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-photo {
	border-radius: 16px;
	/* border: 1px solid black; */
	height: 98%;
	width: 98%;
}

.other-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	/* border: 1px solid black; */
	height: 100%;
	width: 100%;

}

.secondary-photos {
	height: 46%;
	width: 46%;
	/* border: 1px solid black; */
	border-radius: 16px;
;
}

/* show description */
.show-description-amenities {
	height: 30vh;
	width: 76vw;
	font-size: 18px;
	display: flex;

	> * {
		padding: 10px 10px;
	}
}

.show-description {
	width: 60%;
	height: 90%;
}

.show-activities, .show-amenities {
	width: 20%;
	height: 90%;
	border: 1px solid black;
}

/* show bookings */
.bookings {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	height: 30vh;
	width: 76vw;
}

.text {
	font-size: 40px;
}

.bookings-data {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;

	> * {
		cursor: pointer;
		background-color: white;
		border-radius: 10px;
		text-align: left;
		font-size: 18px;
		border: 1px solid lightslategray;
	}
}

.bookings-dates, .bookings-num-guests {
	width: 30vw;
	height: 8vh;
}

.bookings-dates {
	position: relative;
}
.bookings-submit {
	width: 8vw;
	height: 8vh;
	background-color: #C74F2D;
	text-align: center;
	color: white;
}

.bookings-submit:hover {
	background-color: #81311b;
}

.calender {
	position: absolute;
	top: 120%;
	left: 0%;
	padding: 12px 12px;
	border: 0.5px solid lightgray;
	border-radius: 16px;
	background-color: white;
	box-shadow: 0 0 0 0.1px lightgray;
}


/* show map */
.show-map {
	height: 60vh;
	width: 76vw;
	background-color: aquamarine;
	border-radius: 16px;
}

.map-head {
	font-size: 40px;
}

/* show review */
.show-reviews {
	height: 60vh;
	width: 76vw;
	border-radius: 16px;
	background-color: aliceblue;
}

.reviews-head {
	font-size: 40px;
}