
/* index */
.spots-index-page {
	display: flex;
	padding-top: 10vh;
}

.spots-index {
	width: 50vw;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-left: 1vw;
}

.spots-index-map {
	width: 48vw;
	height: 90vh;
	position: fixed;
	right: 0;
	height: 90vh;
}


/* item */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
	
}

.item-photo {
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 20vw;
	height: 14vw;
	margin-bottom: 4px;
	/* box-shadow: 0 0 0 1px lightgray; */
	object-fit: cover;
}

.spots-index-item {
	width: 100%;
	height: 80%;
	padding: 10px 0;
}

.text-container {
	margin-bottom: 4px;

}

.spot-rating {
	display: flex;
	flex-direction: row;
}

.rating {
	font-size: 18px;
}

.spot-name {
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.spot-text {
	font-size: 18px;
	color: darkslategray;
}

.price {
	font-size: 22px;
	color: black;
}

/* show */
.show-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10vh;
	background-color: whitesmoke;

	> * {
		margin-bottom: 1vh;
		box-sizing: border-box;
	}
}

/* show header */
.header-info {
	margin-top: 4vh;
	height: 8vh;
	width: 76vw;
	display: flex;
	flex-direction: column;
}

.show-header {
	text-align: left;
	font-size: 48px;
	font-weight: 700;
}

.show-header-text {
	display: flex;
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 4px;

	> p {
		padding-left: 4px;
		padding-right: 4px;
	}
}

.percentage, .num-reviews, .city-state {
	font-size: 20px;
}

.percentage, .num-reviews {
	font-weight: 500;
}

.num-reviews {
	text-decoration: underline;
}

/* show photos */
.show-photos, .bookings,
.show-map, .show-reviews {
	/* border: 1px solid black; */
	/* padding: 10px 10px; */
}
.show-horizontal-line {
	border: 1px solid lightgray;
	width: 78%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.show-photos {
	height: 58vh;
	width: 76vw;
	display: flex;
	margin-top: 2vh;
	gap: 10px;
}

.big-photo {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-photo {
	border-radius: 10px;
	height: 100%;
	min-width: 49%;
	object-fit: cover;
}

.other-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 8px;
}

.secondary-photos {
	height: 49%;
	width: 49%;
	border-radius: 10px;
	object-fit: cover;
}

/* show description */
.show-description-amenities {
	height: 30vh;
	width: 76vw;
	font-size: 18px;
	display: flex;
	gap: 2rem;
}

.show-description {
	width: 60%;
	height: 90%;
	margin-top: 10px;
	line-height: 110%;
}

.show-activities, .show-amenities {
	width: 20%;
	height: 90%;
	font-size: 22px;
	font-weight: 600;
}

/* show bookings */
.bookings {
	display: flex;
	flex-direction: column;
	height: 30vh;
	width: 76vw;
}

.text {
	font-size: 40px;
}

.bookings-data {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;

	> * {
		cursor: pointer;
		background-color: white;
		border-radius: 10px;
		text-align: left;
		font-size: 18px;
		border: 1px solid lightslategray;
	}
}

.bookings-dates, .bookings-num-guests {
	width: 30vw;
	height: 8vh;
}

.bookings-dates, .bookings-num-guests {
	position: relative;
	display: flex;
	align-items: center;
	> * {
		padding: 10px 10px;
	}
}

.bookings-submit {
	width: 8vw;
	height: 8vh;
	background-color: #C74F2D;
	text-align: center;
	color: white;
}

.bookings-submit:hover {
	background-color: #81311b;
}

.booking-dates-error {
	color: red;
	font-size: 20px;
	margin-left: 3%;
}
/* show map */
.show-map {
	height: 60vh;
	width: 76vw;
	border-radius: 16px;
}

.map-head {
	font-size: 40px;
	align-self: flex-start;
	margin-left: 12%;
}

/* show review */
.show-reviews {
	height: 60vh;
	width: 76vw;
	border-radius: 16px;
}

.reviews-head {
	font-size: 40px;
}

.spot-add-review-button {
	background-color: #464F2E;
	color: whitesmoke;
	cursor: pointer;
	border-radius: 8px;
	font-size: 18px;
	padding: 8px 10px;
}

.spot-add-review-button:hover {
	background-color: #212516;
}