.background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 110%;
	width: 100%;
	background-color: #F3F2EF;
	padding: 0px 24px;
	box-sizing: border-box;
	font-family: 'Calibre Web';
}

.splash-text-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333121;
	padding-top: 75px;
}

.splash-text-header {
	font-size: 72px;
	font-weight: 700;
	padding-bottom: 10px;
}

.splash-text-sub {
	font-size: 28px;
	font-weight: 600;
}

.search-div {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}