
.search-background {
	background-color: white;
	padding: 20px 30px;
	width: 70vw;
	height: 80px;
	border-radius: 16px;
	box-shadow: 0 0 4px lightgray;
}

.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.search {
	width: 20vw;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 12px;
	padding-left: 10px;
}

.search-dates {
	width: 20vw;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: white;
	text-align: left;
}

.search-guests {
	width: 16vw;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: white;
	text-align: left;
}

.search-button {
	width: 8vw;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: #C74F2D;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .search-link {
	text-decoration: none;
	color: white;
} */

.search-dates:hover, .search-guests:hover, .search-button{
	cursor: pointer;
}

.search, .search-dates, .search-guests, .search-button {
	font-size: 18px;
}

