
.search-background {
	background-color: white;
	padding: 20px 30px;
	width: 70vw;
	height: 10vh;
	border-radius: 16px;
	box-shadow: 0 0 4px lightgray;
}

.search-bar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.search {
	width: 20vw;
	height: 8vh;
	border: 1px solid lightgray;
	border-radius: 12px;
	padding-left: 10px;
}

.search-dates {
	position: relative;
	width: 20vw;
	height: 8vh;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: white;
	text-align: left;
	display: flex;
	align-items: center;
	> * {
		padding: 10px 10px;
	}
}

.search-guests {
	width: 16vw;
	height: 8vh;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: white;
	text-align: left;
	position: relative;
	display: flex;
	align-items: center;
	> * {
		padding: 10px 10px;
	}
}

.icon {
	padding: 10px 10px;
}
.search-button {
	width: 8vw;
	height: 8vh;
	border: 1px solid lightgray;
	border-radius: 12px;
	background-color: #C74F2D;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	> * {
		padding: 10px 4px;
	}
}
.search-button:hover {
	background-color: #81311b;
}

.search-dates:hover, .search-guests:hover, .search-button{
	cursor: pointer;
}

.search, .search-dates, .search-guests, .search-button {
	font-size: 18px;
}

