.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100vw;
	padding-top: 10px;
	box-sizing: border-box;
	background-color: #F3F2EF;
	position: fixed;
	z-index: 600;
}

.links {
	padding-right: 10vw;
	justify-content: space-between;
}

.logo {
	height: 50px;
	width: 200px;
	display: block;
	justify-content: center;
	padding-left: 10vw;
}

.logo:hover {
	cursor: pointer;
}

