.profile-dropdown {
	position: absolute;
	padding-top: 4px;
}

.li {

	position: relative;
	background-color: inherit;
	border: none;
	padding: 16px 6px;
	font-family: 'Calibre Web';
	font-size: 20px;
	text-align: left;
	text-decoration: underline;
}

.bookings-link {
	color: black;
}
.li:hover {
	cursor: pointer;
}

.icon {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.icon:hover {
	cursor: pointer;
}

.dropdown-div {
	position: relative;
	padding: 4px;
	right: 140px;
	border: 1px solid lightgray;
	border-radius: 4px;
	width: 160px;
	background-color: whitesmoke;
}